<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aojiaodage.portal.dao.OmsOrderDao">
    <select id="selectOutOfDate" resultType="com.aojiaodage.portal.entity.OmsOrder">
        select * from oms_order where now() > date_add(create_time, interval 2 hour) and status = 0
    </select>

    <resultMap id="orderMap" type="com.aojiaodage.portal.entity.OmsOrder">
        <collection property="items" column="id" select="com.aojiaodage.portal.dao.OmsOrderItemDao.selectByOrderId" />
    </resultMap>

    <select id="selectPagination" resultMap="orderMap">
        select
            id, member_id, order_sn, create_time, member_username, total_amount, pay_amount, freight_amount, pay_type, source_type, status, order_type, delivery_company, delivery_sn, auto_confirm_day, receiver_name, receiver_phone, receiver_post_code, receiver_province, receiver_city, receiver_region, receiver_detail_address, note, confirm_status, payment_time, delivery_time, receive_time, comment_time, modify_time
        from oms_order t1
        where member_id = #{memberId} and status != 5
        limit #{offset}, #{size}
    </select>
</mapper>