<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aojiaodage.portal.dao.PmsProductAttrGroupDao">

    <resultMap id="AttrGroupMap" type="com.aojiaodage.portal.vo.AttrGroup">
        <result column="group_id" property="id"/>
        <result column="group_name" property="name"/>
        <collection property="attrs" ofType="com.aojiaodage.portal.entity.PmsAttr">
            <result column="id" property="id"/>
            <result column="name" property="name"/>
            <result column="value" property="value"/>
        </collection>
    </resultMap>
    <!-- 相同的查询 -->
    <select id="selectListByCategoryId" resultMap="AttrGroupMap">
        select t1.attr_id id, t1.value, t2.name, t3.name group_name, t3.id group_id from pms_attr_spu_relation t1
             left join pms_attr t2 on t2.id = t1.attr_id
             left join pms_product_attr_group t3 on t2.group_id = t3.id
        where spu_id = #{id};
    </select>
</mapper>